
table
{
    background-color: rgba(255, 255, 255,0.6);
}
    
/*  top navigation bar */
.topnav {
    overflow: hidden;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav p {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav p:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav p.active {
    background-color: #2196F3;
    color: white;
  }

  body
{
    background-image: url(../images/Abstract-Ambient-Light-Background-Day-Blue.jpg);
    background-repeat: repeat-y;
}