body
{
    background-image: url(../images/Abstract-Ambient-Light-Background-Day-Blue.jpg);
    background-repeat: repeat-y;
}

.date
{
    margin-left: 1500px;
}

table
{
    border-radius: 5px;
    background-color: white;
    width: 75%;
    margin: auto;
}

th, td 
{
    border-bottom: 1px solid #ddd;
}

h3
{
    margin-top: -35px;
    padding: 0px;
    margin-bottom: 0px;

}

.img1
{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    width: 100px;
}

.reserve
{
    height: 30px;
    width: 90px;
    position: relative;
    bottom: 20px;
    left:5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
